
#content {
    max-width: 1600px;
    margin: 0 auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav a, main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color:rgb(175, 175, 231);
}

body {
    background-color: #b8d9ef; 
    font-family: 'roboto slab';
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}
header {
    background-color:white;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}


nav a:hover {
    background-color: #8f8373;
    color: #d9c2a3;
}


.book:hover, .join:hover {
    background-color: rgb(135, 166, 168);
    color:rgb(235, 239, 245)
}

.msg {
    background-color: rgb(144, 234, 210);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 5/10;
    /* grid-row: 3/7; */
    box-shadow: 5px 5px 10px #6f7364;
}

/* .msp g {
    padding-bottom: 15px;
} */

footer {
    background-color: rgb(229, 206, 190);
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a, .home-title, h4, h2, .msg h2, footer {
    color:rgb(14, 6, 2);
}

footer a {
    color:rgb(35, 19, 11)
}

footer a:hover {
    color:rgb(222, 96, 33)
}

.logo, .icon {
    width: 80px;
}

.icon {
    padding-top:10px;
}

nav a, .book, .join, footer a {
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}    

.home-title, .msg h2 {
    font-family: 'anton', 'courgatte';
    font-size: 2em;
}

.card-img {
    width: 100%;
}

.card-img {
    border: 10px solid rgb(214, 233, 237);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

/* main section img {
    box-sizing: border-box;
} */

nav a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 35px;
}

footer .social img {
    padding-top: 15px;
}

.background, footer {
    margin: 200px 0;
}

.home-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;    
}


